body {
    font-family: "Helvetica", "Arial", serif;
    background-color: #ccc;
    color: #333;
    margin: 1em 10%;
}

h1 {
    color: #333;
    background-color: transparent;
}

ul {
    padding: 0;
}

li {
    float: left;
    padding: 1em;
    list-style: none;
}

#imagegallery {
    list-style: none;
}

#imagegallery li {
    display: inline;
}

a {
    text-decoration: none;
    color: #c60;
    background-color: transparent;
    font-weight: bold;
}

p#placeholder {
    clear: left;
}

#imagegallery li a img {
    border: 0;
}

